footer.w-100.footer.mt-5(style="text-align:center; ")

    .col.row.text-center
        .col-4
        .col-auto
            img(src='/images/chick_remove.png' width='70' height='70' )
        .col-auto
            .col.mt-1
                span email : xxxx@gmail.com
            .col
                span contact : 010-xxxx-xxxx
            .col.mt-1
                span ⓒ 2020 dackjundackhu, some rights reserved.
        .col-5