if user
    -const report = post && post.reporter.map(r => r.id).includes(user.id);
    if !report
        button.btn.btn-outline-danger.text-danger.mr-4.mb-1(type='button' data-toggle='modal' data-target='#myModal' style=' width:80px;  float: right;')
            | 신고
    else if report
        button.btn.btn-outline-secondary.text-secondary.mr-4.mb-1(type='button' data-toggle='modal' data-target='#myModal' style=' width:80px;  float: right;' disabled="disabled")
            | 신고


    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' align='right' )
        .modal-dialog(role='document')
            .modal-content
                form.edit(action='/post/' + post.board_type + '/' + post.id + '/report' method='post')
                    .modal-header
                        //button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4#myModalLabel.modal-title 신고하기

                    .modal-body
                        .form-group
                            .row-6
                                input#reportComment.form-control.input-group-lg(name='content'
                                    placeholder='신고사유를 작성하세요.')
                                small#reportCommentHelp.form-text.text-muted
                                    | 허위 신고 시 불이익이 있을 수 있습니다.
                    .modal-footer
                        .col-4
                            button#report-button.btn.btn-outline-danger(type='submit') 신고하기
                        button.btn.btn-outline-dark(type='button' data-dismiss='modal') 닫기


