doctype html
head
  meta(charset='UTF-8')
  title &#xB85C;&#xADF8;&#xC778;
  a(href='')
    img(src='./img/node_logo.png')
  link(rel='stylesheet' href='loginCSS.pug')
section.login
  h2 &#xB85C;&#xADF8;&#xC778;
  ul
    li
      input(type='text' placeholder='아이디' title='아이디입력')
    li
      input(type='password' placeholder='비밀번호' title='비밀번호입력')
    li
      input#chk_id(type='checkbox')
      label(for='chk_id') &#xC544;&#xC774;&#xB514;&#xC800;&#xC7A5;
    li
      button &#xB85C;&#xADF8;&#xC778;
  div
    ul
      li
        a(href='') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
      li
        a(href='') &#xC544;&#xC774;&#xB514; &#xCC3E;&#xAE30;
      li
        a(href='') &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xCC3E;&#xAE30;
  a(href='') &#xBE44;&#xD68C;&#xC6D0; &#xC8FC;&#xBB38;&#xC870;&#xD68C;