#wrap{
    width: 1500px; height: 2000px;
    margin: 0 auto; 
}
#Header{
    display: block;
    width: 30%; height: 100px;
    float: left;
    line-height: 100px; background: #fff;   
}
#Nav{
    width: 30%; height: 100px; float: right;
    line-height: 90px; background:#fff;
    text-decoration-color: aqua; font-size: 20px;}
#Nav div {
    font-size: 20px;
    text-align: right; 
    height: 100px;
}
#Content{
    float: left; width: 80%; height: 1300px; 
    background:#fff;
    padding: 0;
}
#Content div{
    display: inline-block;
    border: 1px solid gray;
    text-decoration-color: #111;
    width: 49%; height: 50%;
}

#Content div table{
    width: 90%;
    height: 500px;
    font-size: 20px;
    color: #111;
    text-align: center;
}

#Side{
    border-top: 4px solid #111;
    float: right; width: 20%; height: 1300px; 
    line-height: 400px;
}
#Side div{
    width: 100%; height: 25%;
}
#Side div div{
    border-radius: #111 4px;
    position: relative;
    height: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
}
#Side div button{
    font-size: 25px;
    background-color: yellowgreen;
}
#Foorter {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    text-align: center; 
    height: 200px;
    background-color: gray;
}