| .sign{
| font-family: &quot;sans-serif&quot;;
| width: 410px;
| text-emphasis-color: yellow;
| position: absolute;
| left: 50%; top: 50%;
| transform: translate(-50%, -50%);
| text-align: center;
| border: ;
| }
| .sign legend{
| padding: 0 0 20px;
| border-bottom: 2px solid #111;
| text-align: center;
| line-height: 1;
| font-size: 32px;
| counter-reset: #111;
| }
| .sign fieldset{
| margin-top: 30px;
| margin-bottom: 10px;
| }
| .sign fieldset p{
| padding: 0 0 12px;
| text-align: left;
| }
| .sign fieldset div{
| padding: 0 0 12px;
| text-align: left;
| }
| .sign fieldset div input{
| width: 100%;
| height: 30px;
| }
| .sign fieldset p input{
| width: 70%;
| height: 40px;
| }