extends layout

block content
    .container
        .row.px-3.justify-content-center

            .post-content.col-10.pt-3!= post.content

            -const like = post && post.Liker.map(l => l.id).includes(post.user.id);
            if user && !like
                button.like 좋아요
            else if user && like
                button.unlike 좋아요 취소