extends layout

block content
    section.login
        h2 Login
        ul
            li
                label(for='exampleInputEmail1') Email address
            li
                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
            br
            li
                small#emailHelp.form-text.text-muted &#xC6B0;&#xB9AC;&#xB294; &#xB2E4;&#xB978; &#xC0AC;&#xB78C;&#xACFC; &#xADC0;&#xD558;&#xC758; &#xC774;&#xBA54;&#xC77C;&#xC744; &#xACF5;&#xC720;&#xD558;&#xC9C0; &#xC54A;&#xC2B5;&#xB2C8;&#xB2E4;.
            li
                label(for='exampleInputPassword1') Password
            li
                input#exampleInputPassword1.form-control(type='password' placeholder='Password')
            li
                input#exampleCheck1.form-check-input(type='checkbox')
                label Check me out
            li
                button.btn.btn-warning(type='submit') Submit
        div
            ul
                li
                    a(href='') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
                li
                    a(href='') &#xC544;&#xC774;&#xB514; &#xCC3E;&#xAE30;
                li
                    a(href='') &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xCC3E;&#xAE30;
        a(href='') &#xBE44;&#xD68C;&#xC6D0; &#xC8FC;&#xBB38;&#xC870;&#xD68C;