extends layout

block content
    .container
        form#login-form(action='/auth/login' method='post')
            section.login
                h2 Login
                ul
                    li
                        label(for='login-email') 이메일
                    li
                        input#login-email.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email')
                    li
                        small#emailHelp.form-text.text-muted &#xC6B0;&#xB9AC;&#xB294; &#xB2E4;&#xB978; &#xC0AC;&#xB78C;&#xACFC; &#xADC0;&#xD558;&#xC758; &#xC774;&#xBA54;&#xC77C;&#xC744; &#xACF5;&#xC720;&#xD558;&#xC9C0; &#xC54A;&#xC2B5;&#xB2C8;&#xB2E4;.
                    li
                        label(for='login-password') 패스워드
                    li
                        input#login-password.form-control(type='password' name='password' placeholder='Password')
                        if loginError
                            small.error-message= loginError
                    li
                        input#exampleCheck1.form-check-input(type='checkbox')
                        label 로그인 유지
                    li
                        button.btn.btn-warning(type='submit') 로그인
                    li
                        button.btn.btn-warning(type='submit') 회원가입
                div
                    ul
                        li
                            a(href='') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
                        li
                            a(href='') &#xC544;&#xC774;&#xB514; &#xCC3E;&#xAE30;
                        li
                            a(href='') &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xCC3E;&#xAE30;
