extends layout

block content
    .container
        .py-5.text-center
            h2 회원 가입
        .row.justify-content-center
            form.needs-validation.col-sm-6(action='/auth/sign-up' method='post' novalidate)
                .form-group
                    label(for='email') 이메일
                    input#email.form-control(type='email' name='email' placeholder='your@email.com' aria-describedby='emailHelp' required)
                    small#emailHelp.form-text.text-muted
                        | 이메일을 입력하세요.
                    small.invalid-feedback 이메일을 입력하세요.
                .form-group
                    label(for='nickname') 닉네임
                    input#nickname.form-control(type='text' name='nickname' placeholder='nickname' aria-describedby='nicknameHelp'
                        required minlength='3' maxlength='20')
                    small#nicknameHelp.form-text.text-muted
                        | 공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요.
                    small.invalid-feedback 닉네임을 입력하세요.
                .form-group
                    label(for='password') 패스워드
                    input#password.form-control(type='password' name='password' aria-describedby='passwordHelp'
                        placeholder='password' required minlength='6' maxlength='50')
                    small#passwordHelp.form-text.text-muted
                        | 6자 이상 50자 이내로 입력하세요.
                    small.invalid-feedback 패스워드를 입력하세요.
                .form-group
                    label(for='check-password') 패스워드 확인
                    input#check-password.form-control(type='password' placeholder='password check'
                        required minlength='6' maxlength='50' onchange='isSame()')
                    small.invalid-feedback 패스워드를 확인하세요.
                    small#same.form-text


                if signUpError
                    smaill.error-message= signUpError
                .form-group
                    button#sign-up-btn.btn.btn-warning.btn-block.text-secondary(type='submit' aria-describedby='submitHelp')
                        | 회원가입
                button.btn.btn-warning.btn-block.text-secondary(type='submit') 로그인
    include includes/form-validation
    script(type='application/javascript').
        function isSame() {
            let btn;
            btn = document.getElementById('sign-up-btn');
            if (document.getElementById("password").value !== '' && document.getElementById("check-password").value !== '') {
                if (document.getElementById('password').value === document.getElementById('check-password').value) {
                    document.getElementById('same').innerHTML = '비밀번호가 일치합니다.';
                    document.getElementById('same').style.color = 'blue';
                    btn.disabled = false;
                } else { // TODO 비밀번호 6자 이상일 때 비밀번호가 일치하지 않는 경우 빨간 테두리로 표시되도록 변경해야 함.
                    document.getElementById('same').innerHTML = '비밀번호가 일치하지 않습니다.';
                    document.getElementById('same').style.color = 'red';
                    btn.disabled = 'disabled';
                }
            }
        }