extends layout

block content
    form.sign(action='/auth/sign-up' method='post')
        fieldset
            legend Sign Up
            .form-group
                label(for='sign-up-email') 이메일
                input#sign-up-email.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='example@example.com')
                small#emailHelp.form-text.text-muted 이메일을 입력하세요.
            .form-group
                label(for='sign-up-nickname') 닉네임
                input#sign-up-nickname.form-control(type='text' name='nickname' aria-describedby='NameHelp' placeholder='nickname')
            .form-group
                label(for='sign-up-password') 패스워드
                input#sign-up-password.form-control(type='password' name='password' placeholder='password')
            .form-group
                label(for='sign-up-password-check') 패스워드 확인
                input#sign-up-password-check.form-control(type='password' placeholder='password check')
            if signUpError
                smaill.error-message= signUpError
            button.btn.btn-warning(type='submit') 회원가입
        button.btn.btn-warning(type='reset') 로그인