body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-message { color: red; }

.my.pagination > .active > a,
.my.pagination > .active > span,
.my.pagination > .active > a:hover,
.my.pagination > .active > span:hover,
.my.pagination > .active > a:focus,
.my.pagination > .active > span:focus {
  background: #FFB400;
  border-color: #FFB400;
}

   /*
       @media screen and (max-width: 700px)  {
           html{
               font-size: 0;
           }
       } */
 html{
   /* margin-left: 50px;
   margin-right:50px; */
   max-width:100%;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;

 }
/* 병아리 색 style="background-color: #FFE16F;" */
/*우측 네비게이션바  */
#list-tab{
  position: relative;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width: 80%;
}
/* 상단 네비바 */
#top_navbar{
  /* border:3px solid #e3b51d ; */
  /* border:3px solid #f2eba7 ; */
  /* border-top:10px solid #f2eba7 ;
  border-bottom:10px solid #f2eba7 ; */
  /*background-color: #f2eaa7 !important;*/
  /* background-color: white !important; */
}
/* 드롭박스css */
.list-group-item.active{
  background-color: #f2eaa7;
  border-color: #f2eaa7;
  color: black;
}
/* 하단 페이지 이동 버튼 */
.paging_comm{
  position: relative;

  /* margin-left:auto;
   margin-right:auto; */
  display: flex;
  /* 화면이 작아져도 아래로 안내려감 */
  justify-content: center;
  align-content: center;
  /* 정렬방향에서, 정렬방향에서 수직으로 정렬=> 정가운데 정렬 */

}
.page-item active .page-link{
  background-color: #f2eaa7;
  border-color: #f2eba7;
  color:black;
}
.page-item{
  background-color: #f2eaa7;
  color:#f2eba7;
}


/*!* 게시판 명 *!*/
/*#notice_name{*/
/*  position: relative;*/
/*  margin-left:20px;*/
/*  margin-top:20px;*/
/*  font-size:1em;*/
/*}*/

/*!* 게시판 *!*/
/*#table_id{*/
/*  width:80%;  margin-top:10px; position:relative;*/
/*  !* table-layout:fixed; *!*/
/*}*/

