body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-message { color: red; }

.my.pagination > .active > a,
.my.pagination > .active > span,
.my.pagination > .active > a:hover,
.my.pagination > .active > span:hover,
.my.pagination > .active > a:focus,
.my.pagination > .active > span:focus {
  background: #FFB400;
  border-color: #FFB400;
}
.list-group > .my.active {
  background: #FFB400;
  border-color: #FFB400;
}
#wrapper {

  position:relative;
  min-height:100%;
  padding-bottom: 100px; /* footer height */

}
body{
  height:100%;
}
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  background-color:#F2F2F2;

}

 html{
   max-width:100%;
   width:100%;
   height:100%;
   margin-left:auto;
   margin-right:auto;

 }
/* 병아리 색 style="background-color: #FFE16F;" */
/*우측 네비게이션바  */
#list-tab{
  position: relative;
  margin-top:10px;
  margin-left:10px;
  text-align:center;
  width: 80%;
}


.paging_comm{
  position: relative;

  /* margin-left:auto;
   margin-right:auto; */
  display: flex;
  /* 화면이 작아져도 아래로 안내려감 */
  justify-content: center;
  align-content: center;
  /* 정렬방향에서, 정렬방향에서 수직으로 정렬=> 정가운데 정렬 */

}
.page-item active .page-link{
  background-color: #f2eaa7;
  border-color: #f2eba7;
  color:black;
}
.page-item{
  background-color: #f2eaa7;
  color:#f2eba7;
}

