extends ../layout

block content
    .container
        nav(aria-label='breadcrumb')
            ol.breadcrumb.mt-5.pl-2.pr-2
                li.breadcrumb-item
                    a(href='/') Home
                li.breadcrumb-item.active
                    a(href='/board/free/1' aria-current='page') 자유 게시판
        .card.mt-3
            h5(style="display:inline;").card-header=post.title
                span(style="float:right; font-size:15px;") 조회수 #{post.views}
            .card-body.border-top!= post.content
            .row
                .col-10
                .col-2
                    p.card.mr-2
                        span(style="display:inline;" align="center").mt-1
                            img(src='/images/lv' + post.user.level + '.png' width=13 height=13 style="display:inline;" align="center").mb-1
                            small(style="display:inline; " align="center")  #{post.user.nickname}

                        small(style="display:inline; float:right;" align="center").mt-2.mb-1.post-date #{post.createdAt}

            .col
                .text-center.mb-3
                    // 좋아요 UI
                    include ../includes/like
                        include ../includes/report

        // 댓글쓰기
        include ../includes/comment

        br.mb-5
        br
        br

    include ../includes/getDate
    include ../includes/form-validation
    script(type='application/javascript').
        setWriteTimeByClassName("post-date");
        setWriteTimeByClassName("comments-date");

        let unlikeTag = document.querySelector('.unlike');
        let likeTag = document.querySelector('.like');
        $(function () {
            let pathname = window.location.pathname;
            likeTag.addEventListener('click', function () {

                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('POST', pathname + '/like');
                xhr.send();
            });
        });

        $(function () {
            let pathname = window.location.pathname;
            unlikeTag.addEventListener('click', function () {
                // let postId = document.querySelector('#post-id').value;
                let xhr = new XMLHttpRequest();
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        location.reload();
                    } else {
                        console.error(xhr.responseText);
                    }
                };
                xhr.open('DELETE', pathname + '/like');
                xhr.send();
            });
        });
